Auto Task Generator Agent.json
{
  "name": "Auto Task Generator Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        -96
      ],
      "id": "d76e4ad6-2c07-4406-9775-71fa2263bed1",
      "name": "Telegram Trigger",
      "webhookId": "b704fab7-61b9-4ff1-a8ae-e90959cf0160",
      "credentials": {
        "telegramApi": {
          "id": "YaerKH7kwHIR42Ny",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI assistant that extracts task information from user messages and converts it into structured data for a Google Sheet.\n\nThe Google Sheet columns are:\nTask\nDueDate\nType\nPriority\nNotes\nSourceText\nCreatedAt\nChatId\n\nInstructions:\n1. Analyze the user's message.\n2. Identify if it contains a task or reminder.\n3. Extract the relevant details.\n4. Return the output strictly in JSON format.\n\nField rules:\n\nTask:\nShort description of the task.\n\nDueDate:\nExtract the date or deadline mentioned. Convert it into ISO format (YYYY-MM-DD). If no date is mentioned, return null.\n\nType:\nClassify the task as one of these:\nwork\npersonal\nmeeting\nreminder\nother\n\nPriority:\nDetermine priority level:\nhigh\nmedium\nlow\n\nNotes:\nAdditional details related to the task.\n\nSourceText:\nThe original message from the user.\n\nCreatedAt:\nCurrent timestamp in ISO format.\n\nChatId:\nThe chat/session identifier passed from the workflow.\n\nOutput format example:\n\n{\n  \"Task\": \"Submit project report\",\n  \"DueDate\": \"2026-03-15\",\n  \"Type\": \"work\",\n  \"Priority\": \"high\",\n  \"Notes\": \"Final report for client\",\n  \"SourceText\": \"Reminder to submit the project report by March 15\",\n  \"CreatedAt\": \"2026-03-10T10:00:00Z\",\n  \"ChatId\": \"123456\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        -96
      ],
      "id": "1fde7936-87c2-48ed-b717-ab4a340c5c30",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        128
      ],
      "id": "7f0b2043-926b-4f28-bef1-b94cc434e06b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1XyN0Q4YODHLwQfH",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data;\n\ntry {\n  data = JSON.parse($json.output);\n} catch (error) {\n  data = {};\n}\n\n// generate automatic chat id\nconst chatId = \"chat_\" + Date.now() + \"_\" + Math.floor(Math.random() * 10000);\n\nreturn [\n{\njson: {\nTask: data.Task || \"\",\nDueDate: data.DueDate || \"\",\nType: data.Type || \"other\",\nPriority: data.Priority || \"medium\",\nNotes: data.Notes || \"\",\nSourceText: data.SourceText || \"\",\nCreatedAt: data.CreatedAt || new Date().toISOString(),\nChatId: chatId\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -96
      ],
      "id": "9dc68285-5db6-42d1-baf0-8c760ca584b7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1N7_5uyTTI1cuVLtkoXIwy-yVruu9XbAF5hd1TPtaaww",
          "mode": "list",
          "cachedResultName": "Auto Task Generator Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N7_5uyTTI1cuVLtkoXIwy-yVruu9XbAF5hd1TPtaaww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N7_5uyTTI1cuVLtkoXIwy-yVruu9XbAF5hd1TPtaaww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task ": "={{ $json.Task }}",
            "DueDate": "={{ $json.DueDate }}",
            "Type": "={{ $json.Type }}",
            "Priority": "={{ $json.Priority }}",
            "Notes": "={{ $json.Notes }}",
            "SourceText": "={{ $json.SourceText }}",
            "CreatedAt": "={{ $json.CreatedAt }}",
            "ChatId": "={{ $json.ChatId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Task ",
              "displayName": "Task ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DueDate",
              "displayName": "DueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SourceText",
              "displayName": "SourceText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CreatedAt",
              "displayName": "CreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ChatId",
              "displayName": "ChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -96
      ],
      "id": "d6c01e34-495c-46df-a2dc-1ab7b1f23fd1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YsZiugTkN3wbd7kZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5f3ec7dc-0654-41b2-b7a5-a55661f91fd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67bc6e5054da652905b54b1bce56563d62a027fd5f2df88b5b58fdf548f482bd"
  },
  "id": "yYNkWU4t5PAfuJR5",
  "tags": []
}