telegram bot.json
{
  "name": "telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        0
      ],
      "id": "60719014-8824-482f-813b-8779483ee04c",
      "name": "Telegram Trigger",
      "webhookId": "3d602a13-e988-4710-9050-db8029eb9aeb",
      "credentials": {
        "telegramApi": {
          "id": "YaerKH7kwHIR42Ny",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        0
      ],
      "id": "71d2fcf4-6946-4033-a896-fa14ac65307c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        208
      ],
      "id": "c6aa80f6-135d-440e-b55c-d64fc4ac3b71",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1XyN0Q4YODHLwQfH",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -16
      ],
      "id": "95ef8b69-b863-405f-bf05-3b8f36d6a013",
      "name": "Send a text message",
      "webhookId": "dc9a68fc-3500-4130-9f81-a512c23abb5a",
      "credentials": {
        "telegramApi": {
          "id": "YaerKH7kwHIR42Ny",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "beb2ccd6-f004-4dc0-98d0-8b9892df8964",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67bc6e5054da652905b54b1bce56563d62a027fd5f2df88b5b58fdf548f482bd"
  },
  "id": "qg6DLC0rflVlkW46",
  "tags": []
}